@{
    ViewBag.Title = "Home Page";
}

<h2>
    Welcome to phone book web access apllication
</h2>
<div>
    <p><a href="/PhoneCards" class="btn btn-primary"> Press here to browse and edit Phonebook</a></p>
</div>
<div>
    <p><a href="/static/ApiTest.html" class="btn btn-primary"> Press here to get Phonebook in readonly mode</a></p>
</div>
<div>
    <p><a href="/api/webapi/" class="btn btn-primary"> Press here to get web api requests example</a></p>
</div>

